body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(250, 250, 250);
}
/* Estilos para el encabezado */
.header {
    background-color: none;
    color: white;
    text-align: center;
}

/* Estilos para la lista ordenada en el encabezado */
.header ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/* Estilos para los elementos de la lista */
.header ol li {
    margin: 0 15px;
    font-size: 18px;
    cursor: pointer;
}

/* Estilo especial para el logo */
.header .logo {
    font-weight: bold;
    font-size: 24px;
    margin-right: auto; /* Mueve el logo a la izquierda */
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo para los elementos de la lista al pasar el ratón por encima */
.header .logo:hover {
    color: #e65035;
}
.header {
    width: 100%;
}
.header ol {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 1%;
    margin: 1%;
}
.header li {
    font-family: Inter, sans-serif;
    font-weight: 500;
    color: #ff6347;
}
.header .feedback-button {
    font-weight: 600;
    background-color: #ff6347;
    margin: 10px;
    color: white;
    padding: 10px 20px; /* Añade relleno para que parezca un botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para cambios de color */
}

/* Estilo para el botón al pasar el ratón por encima */
.header .feedback-button:hover {
    background-color: #e65035;
    color: white;
}
.container {
    display: flex;
    gap: 20px;
}
.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-column {
    flex: 2;
}
.card {
    background-color: white;
    color: #ff6347;
    border: 2px solid red;
    border-color: #ff6347;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px #ff826c;
}
h2 {
    margin-top: 0;
}
.filters label {
    display: block;
    margin-bottom: 5px;
}
.filters input[type="text"], .filters input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.crime-map {
    height: 480px;
    background-color: #f0f0f0;
}
.add-marker-form {
    margin-top: 20px;
}
.add-marker-form input, .add-marker-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.crime-map {
    border-radius: 5px;
}